* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #131313;
}

a {
    text-decoration: none;
}

#principal {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#presentacion>* {
    text-align: center;
    font-family: Times;
    color: azure;
}

#presentacion #cruz {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#presentacion #marca {
    font-size: 3rem;
    font-weight: bold;
}

#presentacion #presenta {
    font-family: Garamond;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem
}

#presentacion #logo {
    height: 12rem;
    mix-blend-mode: exclusion;
}

#presentacion #titulo {
    font-size: 6rem;
    letter-spacing: 0.8rem;

    border: 0.7rem azure solid;
    padding: 1.5rem 5rem;
    border-radius: 6rem;

    margin-top: -0.4rem;
}

#presentacion #subtitulo {
    margin: -1.8rem auto 0;
    width: 30rem;
    background-color: azure;
    color: #131313;

    font-size: 2rem;
    letter-spacing: 0.1rem;

    border: 0.3rem azure solid;
    border-radius: 6rem;
}

#botones {
    display: flex;
    justify-content: center;
    gap: 10vw;

    margin-top: 10vh;
}


.boton {
    border: 3px solid azure;
    border-radius: 6rem;

    width: 8vw;
    height: 5vh;

    display: grid;
    place-content: center;

    text-decoration: none;
    font-size: 1.6rem;
    font-family: Garamond;
    font-weight: bold;
    color: azure;

    transition: box-shadow 0.3s ease-in;
}

.boton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 25px whitesmoke;
}


#btn-jugar {
    background-color: azure;
    color: #131313;
}

#reglas {
    color: azure;
    height: 100vh;
}